# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Environment variables
*.env

# Static files
staticfiles/

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db